/*COLORES*/
$primary: #fca311;
$secondary: #14213d;
$warning: #FB5859;
$success: #B3B3B8;
/*FINAL COLORES*/

/*FUENTES*/
$font-family-sans-serif: 'Open Sans', sans-serif;
/*FINAL FUENTES*/

@import "../node_modules/bootstrap/scss/bootstrap.scss"